## Step 1: Load all datasets & clean keys

In [43]:
# Step 1: Load all datasets and clean title/author keys

import pandas as pd

# Load your original dataset
my_books = pd.read_csv("book_covers_dataset.csv")

# Load both external datasets from Kaggle
# Encoding avoids issues with special characters (ñ, é, etc.)
goodreads1 = pd.read_csv("books_kaggle_goodreads.csv", encoding="ISO-8859-1", on_bad_lines="skip")
goodreads2 = pd.read_csv("books_kaggle_goodReads_100k.csv", encoding="ISO-8859-1", on_bad_lines="skip")

# Clean weird BOM character from second dataset (first column is wrongly named)
goodreads2 = goodreads2.rename(columns={"ï»¿author": "author"})

# Clean and standardize keys: lowercase and strip whitespaces
# These will be used later to merge
my_books["title_clean"] = my_books["Title"].str.lower().str.strip()
my_books["author_clean"] = my_books["Author"].str.lower().str.strip()

goodreads1["title_clean"] = goodreads1["title"].str.lower().str.strip()
goodreads1["author_clean"] = goodreads1["authors"].str.lower().str.strip()

goodreads2["title_clean"] = goodreads2["title"].str.lower().str.strip()
goodreads2["author_clean"] = goodreads2["author"].str.lower().str.strip()

##  Step 2: Rename and select the useful columns

In [44]:
# Rename columns from the first Kaggle dataset to match our dataset
# We also use .strip() on column names to remove any invisible spaces
goodreads1.columns = goodreads1.columns.str.strip()
goodreads1 = goodreads1.rename(columns={
    "publisher": "Publisher",
    "publication_date": "First_published_date",
    "num_pages": "Page_count", 
    "average_rating": "Rating"
})

# Keep only the cleaned keys and external columns we want to use
goodreads1 = goodreads1[[
    "title_clean", "author_clean", "Publisher", "First_published_date", "Page_count", "Rating"
]]

# Prepare second Kaggle dataset (only genre is needed)
goodreads2 = goodreads2[[
    "title_clean", "author_clean", "genre"
]]

# Drop duplicates to keep only the first matching row per title-author
goodreads1 = goodreads1.drop_duplicates(subset=["title_clean", "author_clean"], keep="first")
goodreads2 = goodreads2.drop_duplicates(subset=["title_clean", "author_clean"], keep="first")

## Step 3:  Merge external data into my original dataset (with fuzzy author match)

In [40]:
# First merge: Add Publisher, Page_count, Rating, and First_published_date
merged = pd.merge(
    my_books,
    goodreads1,
    on=["title_clean", "author_clean"],
    how="left"
)

# Second merge: Add Genre (from the second Goodreads dataset)
merged = pd.merge(
    merged,
    goodreads2,
    on=["title_clean", "author_clean"],
    how="left"
)

##  Step 4: Populate missing values and preview the result

In [41]:
# Fill only where the original columns are missing (NaN)
for col in ["Publisher", "First_published_date", "Page_count", "Rating", "Genre"]:
    # Si la columna existe en el dataframe original y también en el merged con sufijo _y
    if col in merged.columns and col + "_y" in merged.columns:
        merged[col] = merged[col].fillna(merged[col + "_y"])

# Remove helper and duplicate columns (ending in _y or _clean)
columns_to_drop = [col for col in merged.columns if col.endswith("_y") or col.endswith("_clean") or col == "genre"]
merged_final = merged.drop(columns=columns_to_drop)

# Preview final result
merged_final.head(80)

,Title,Author,Publisher_x,Genre,Price,Promoted,Dominant_color,Cover_type,Visual_style,Title_word_count,Author_name_prominent,Award_recognition,First_published_date_x,Page_count_x,Estimated_reading_time,Rating_x
0,The Subtle Art of Not Giving a Fuck,Mark Manson,NaN,NaN,19.99,1,red,hardcover,typographic,8,0,1,NaN,NaN,NaN,NaN
1,Start with Why,Simon Sinek,NaN,NaN,12.99,0,white,paperback,typographic,3,0,0,NaN,NaN,NaN,NaN
2,The Housemaid,Freida McFadden,NaN,NaN,11.35,1,blue,paperback,illustration,2,0,1,NaN,NaN,NaN,NaN
3,The Housemaid´s Secret,Freida McFadden,NaN,NaN,9.59,1,red,paperback,illustration,3,0,1,NaN,NaN,NaN,NaN
4,Atomic Habits,James Clear,NaN,NaN,19.15,1,white,paperback,typographic,2,0,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Just for the Summer,Abby Jimenez,NaN,NaN,19.40,0,red,paperback,illustration,4,1,1,NaN,NaN,NaN,NaN
76,Funny Story,Emily Henry,NaN,NaN,13.05,0,blue,paperback,illustration,2,1,1,NaN,NaN,NaN,NaN
77,Play Along,Liz Tomforde,NaN,NaN,12.60,0,purple,paperback,photo,2,0,0,NaN,NaN,NaN,NaN
78,I Who Have Never Known Men,Jacqueline Harpman,NaN,NaN,12.60,1,black,paperback,photo,6,0,0,NaN,NaN,NaN,NaN
79,The Life Impossible,Matt Haig,NaN,NaN,18.70,1,blue,paperback,illustration,3,1,1,NaN,NaN,NaN,NaN